
ALTER TABLE championships ENABLE ROW LEVEL SECURITY;
ALTER TABLE teams ENABLE ROW LEVEL SECURITY;
ALTER TABLE team_members ENABLE ROW LEVEL SECURITY;
ALTER TABLE championship_matches ENABLE ROW LEVEL SECURITY;
ALTER TABLE match_player_stats ENABLE ROW LEVEL SECURITY;

GRANT SELECT ON championships TO anon, authenticated;
GRANT SELECT ON teams TO anon, authenticated;
GRANT SELECT ON team_members TO anon, authenticated;
GRANT SELECT ON championship_matches TO anon, authenticated;
GRANT SELECT ON match_player_stats TO anon, authenticated;

DROP POLICY IF EXISTS Permitir_leitura_publica_de_campeonatos ON championships;
CREATE POLICY Permitir_leitura_publica_de_campeonatos ON championships FOR SELECT USING (true);

DROP POLICY IF EXISTS Permitir_leitura_publica_de_times ON teams;
CREATE POLICY Permitir_leitura_publica_de_times ON teams FOR SELECT USING (true);

DROP POLICY IF EXISTS Permitir_leitura_publica_de_integrantes_de_times ON team_members;
CREATE POLICY Permitir_leitura_publica_de_integrantes_de_times ON team_members FOR SELECT USING (true);

DROP POLICY IF EXISTS Permitir_leitura_publica_de_partidas_de_campeonato ON championship_matches;
CREATE POLICY Permitir_leitura_publica_de_partidas_de_campeonato ON championship_matches FOR SELECT USING (true);

DROP POLICY IF EXISTS Permitir_leitura_publica_de_estatisticas_de_partidas ON match_player_stats;
CREATE POLICY Permitir_leitura_publica_de_estatisticas_de_partidas ON match_player_stats FOR SELECT USING (true);

